
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.venv/
env/
venv/

# Data files
data/**/*.csv
data/
mlruns/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Models
models/*.pkl

# MLflow
mlruns/


