# ----------------------------
# Core API & Web
# ----------------------------
fastapi==0.124.0
uvicorn==0.38.0
pydantic==2.12.5
pydantic-settings==2.12.0
python-dotenv==1.2.1
orjson==3.11.4
requests==2.32.5
Flask==3.1.2
flask-cors==6.0.1
Jinja2==3.1.6
Werkzeug==3.1.4

# ----------------------------
# Data Science & ML
# ----------------------------
numpy==1.26.4
pandas==2.1.2
scipy==1.11.4
joblib==1.5.2
scikit-learn==1.5.2
imbalanced-learn==0.14.0
xgboost==3.1.2
lightgbm==4.6.0
pyarrow==22.0.0
matplotlib==3.10.7
seaborn==0.12.2
plotly==6.0.0

# ----------------------------
# MLflow & Experiment Tracking
# ----------------------------
mlflow==3.7.0
mlflow-skinny==3.7.0
mlflow-tracing==3.7.0
sqlalchemy==2.0.44
alembic==1.17.2

# ----------------------------
# DVC & Storage
# ----------------------------
dvc==3.64.1
dvc-data==3.16.12
dvc-gdrive==3.0.1
dvc-http==2.32.0
dvc-objects==5.1.2
dvc-render==1.0.2
dvc-s3==3.2.2
dvc-task==0.40.2
s3fs==2025.12.0
boto3==1.41.5
botocore==1.41.5
cachetools==6.2.2

# ----------------------------
# Async & Utilities
# ----------------------------
aiohttp==3.13.2
aiobotocore==2.26.0
anyio==4.12.0
async-lru==2.0.5
attrs==25.4.0
click==8.3.1
rich==14.2.0
python-dateutil==2.9.0
tzdata==2025.2
tzlocal==5.3.1
pathspec==0.12.1
packaging==25.0
watchdog==6.0.0

# ----------------------------
# Optional / Jupyter
# ----------------------------
ipython==9.8.0
jupyter==1.1.1
notebook==7.5.0
ipywidgets==8.1.8
